<h1>Editing pergunta</h1>

<% form_for(@pergunta) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @pergunta %> |
<%= link_to 'Back', perguntas_path %>
